body{
color:black;
background: rgb(51, 90, 163);
}

.title{
    color:blue;
    background: violet;
}
.boy{
color: brown;
background: tomato;
}
.aguia{
color: blue;
background: indianred
}
.babalu{
color: plum;
background: pink;
}